# Voici mon notebook

In [1]:
import pandas as pd
import numpy as np

In [3]:
from sys import path
path

['/home/wsuser/work',
 '/opt/conda/envs/Python-3.10/lib/python310.zip',
 '/opt/conda/envs/Python-3.10/lib/python3.10',
 '/opt/conda/envs/Python-3.10/lib/python3.10/lib-dynload',
 '',
 '/home/wsuser/.local/lib/python3.10/site-packages',
 '/opt/conda/envs/Python-3.10/lib/python3.10/site-packages']

In [4]:
# The code was removed by Watson Studio for sharing.

   1818  01  01.1  1818.004   -1  1
0  1818   1     2  1818.007   -1  1
1  1818   1     3  1818.010   -1  1
2  1818   1     4  1818.012   -1  1
3  1818   1     5  1818.015   -1  1
4  1818   1     6  1818.018   -1  1

In [5]:
df_data_1.info()
df_data_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72103 entries, 0 to 72102
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   1818      72103 non-null  int64
 1   01        72103 non-null  int64
 2   01.1      72103 non-null  int64
 3   1818.004  72103 non-null  float64
 4    -1       72103 non-null  int64
 5   1         72103 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 3.3 MB

,1818,01,01.1,1818.004,-1,1
count,72103.000000,72103.000000,72103.000000,72103.000000,72103.000000,72103.000000
mean,1916.208909,6.515734,15.729387,1916.709104,51.310986,0.997906
std,56.988455,3.449405,8.799845,56.986961,51.158894,0.045715
min,1818.000000,1.000000,1.000000,1818.007000,-1.000000,0.000000
25%,1867.000000,4.000000,8.000000,1867.358000,10.000000,1.000000
50%,1916.000000,7.000000,16.000000,1916.709000,37.000000,1.000000
75%,1966.000000,10.000000,23.000000,1966.060500,79.000000,1.000000
max,2015.000000,12.000000,31.000000,2015.411000,355.000000,1.000000